<a href="https://colab.research.google.com/github/HARISYOUSAFZAI/Ineuron-Full-stack-Data-Science/blob/main/Basic_Assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. What exactly is []?**

Ans: it is used to store the data inside the list.

example: a = [1,2,3,4,5]

**2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)** . 




```
spam = [2,4,6,8,10]
spam[2] ='hello' 

```

Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries

**3. What is the value of spam**[int(int(&#39;3&#39; * 2) / 11)]? 

Ans:spam[3] = 'd'

**4. What is the value of spam[-1]?**

Ans: spam[-1] = 'd'

**5. What is the value of spam[:2]?**

spam[:2] = ['a','b'].

Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.


**6. What is the value of bacon.index(&#39;cat&#39;)?**

In [ ]:
bacon =  [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

**7. How does bacon.append(99) change the look of the list value in bacon?**

Ans: it will add 99 value insde the bacon list.

In [ ]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

**8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?**

it will remove the first cat string from the list.

In [ ]:
bacon.remove('cat')

In [ ]:
bacon

[3.14, 11, 'cat', True, 99]

**9. What are the list concatenation and list replication operators?**

Ans: (+) operator is used to concatenate the list while (*) operator is used to replicate the list.
below is the example.

In [4]:
lis1 = [1,2,3]
lis2 = [4,5,6]
lis1+lis2  # concatenation of lis1 and lis2

[1, 2, 3, 4, 5, 6]

In [5]:
lis1*2

[1, 2, 3, 1, 2, 3]

**10. What is difference between the list methods append() and insert()?**

append is used to add the value in the end of the list  while insert is add the value where the index number is mention. 


example:

bacon.append('a')

bacon.insert(5,'a')

**11. What are the two methods for removing items from a list?**

remove and pop functions are used to remove the items from the list. However remove take the value of the list while pop take the index number of the list as mention in the example below

In [18]:
lis1=[1,2,3,4]
lis1.remove(3)

In [19]:
lis1 = [1,2,3,4]
lis1.pop(0)

1

In [20]:
lis1

[2, 3, 4]

**12. Describe how list values and string values are identical.**


Ans : There are some similarities in list and string. (+) can be used to concatenate the list and string, both are iteratable and slicable.

**13. What&#39;s the difference between tuples and lists?**

Ans: The main difference between tuple and list is that tuple elements can not be changed once defined while list can be altered.

**14. How do you type a tuple value that only contains the integer 42?**

In [24]:
tup = (42,)

In [25]:
type(tup)

tuple

**15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?**

Ans: to convert the tuple values into a list. we use list() function.

In [26]:
list(tup)

[42]

***16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain? ***

lets take an example to solve this problem;
suppose

```
lis1 = [1,2,3]
lis2 = lis1 # technically it contain the pointer of the lis1 even if i make changes in lis2 it will be change in the lis1 because lis2 is just the point of lis1 which is just reffereing to lis1.
```

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

the difference between copy.copy() and deepcopy() is that former just copy the reference of the original data and later is used to copy the data with the nested list